.cf-field.cf-complex--tabbed-horizontal > .cf-field__head {
  display: none;
}
.cf-field.cta .cf-field__body input[value="cta_content"] ~ .cf-complex__group-body {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: min-content min-content; 
  gap: 0px 0px; 
  grid-template-areas: 
    "headline button_text"
    "sectioncopy buttonhref"; 
}
.cf-field.cta .cf-field__body input[value="cta_content"] ~ .cf-complex__group-body > .field-headline { grid-area: headline; }
.cf-field.cta .cf-field__body input[value="cta_content"] ~ .cf-complex__group-body > .field-richtext { grid-area: sectioncopy; }
.cf-field.cta .cf-field__body input[value="cta_content"] ~ .cf-complex__group-body > .field-btn_text  { grid-area: button_text; }
.cf-field.cta .cf-field__body input[value="cta_content"] ~ .cf-complex__group-body > .field-btn_href  { grid-area: buttonhref; }